main {
    position: relative;
    background: url(../img/forest.jpg) center (center/cover) no-repeat;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .play {
        width: 160px;
        height: 160px;
        background-image: url(../svg/play.svg);
        background-size: contain;
        background-color: transparent;
        border: 0;
        transition: .3s;
        cursor: pointer;
    }

    .volume {
        margin-top: 10px;
    }


    input[type="range"] {
        -webkit-appearance: none;
        width: 150px;
        height: 5px;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 3px;
        background-image: #FFFFFF
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 13px;
        width: 13px;
        border-radius: 50%;
        cursor: ew-resize;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0 0 2px 0 #555;

    }

    input[type=range]::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }

}